# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Metro
.metro-health-check*

# Native (certs & keys)
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# Environment variables
.env
.env.local
.env.*.local

# macOS / OS
.DS_Store
Thumbs.db
*.pem

# TypeScript
*.tsbuildinfo

# Editors
.vscode/
.idea/

# Generated example apps
app-example/

# Native folders (REMOVE these if you eject)
ios/
android/
